{
  "extends": "standard",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "classes": true
    }
  },
  "rules": {
//    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "global-require": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off"
  }
}
